body {
    /* Do this to remove spacing */
    font-size: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

#sudoku {
    height: 350px;
    width: 350px;
    position: absolute;
    top: 10px;
    left: 90px;
}

.container-square {
    /* Do this to remove spacing */
    font-size: 0;
    top: 10px;
    left: 10px;
    height: 32%;
    width: 32%;
    border: 2px solid black;
    margin-left: -2px;
    margin-top: -2px;
    display: inline-block;
    transition: all;
    transition-duration: 0.3s;
    background-color: #FFFFFF;
    pointer-events: none;
}


/*.container-square:hover {
    background-color: #FFFFFF;
}
*/

.square {
    /*padding: 10px, 10px, 10px, 10px;*/
    font-size: 25px;
    border: 1px solid black;
    color: #424242;
    height: 33%;
    width: 32.4%;
    margin-left: -1px;
    margin-top: -1px;
    text-align: center;
    line-height: 1.5;
    display: inline-block;
    transition: all;
    transition-duration: 0.3s;
    /*border-radius: 10px;*/
    vertical-align: top;
    pointer-events: auto;
}

.square.ui-selecting {
    background: #FF5722;
    color: #FFFFFF;
}

.square.ui-selected {
    background: #FF5722;
    color: #FFFFFF;
}

.square:hover {
    text-shadow: 0 0 .9px #333333, 0 0 .9px #333333, 0 0 .9px #333333;
    color: #333333;
    background-color: #FFB199;
}

.conflict {
    color: #FFFFFF;
    background-color: #F44336;
}

.button-container {
    height: 343px;
}

#button-col {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Buttons */
/* https://tympanus.net/Development/CreativeLinkEffects/ */
input[type="button"] {
    width: 70px;
}